.table th.sortable {
  cursor: pointer;
}
.table th, .table td {
  border-left: 1px solid #ddd;
}
.table th:last-child, .table td:last-child {
  border-right: 1px solid #ddd;
}
.table tr:last-child td {
  border-bottom: 1px solid #ddd;
}