<h1>Team Project Planner</h1>

<p class="lead">Project schedule.</p>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="name-filter" class="control-label sr-only">Filter</label>
        <div class="col-lg-2">
            <input type="name" class="form-control" id="name-filter" placeholder="Name Filter" ng-model="search.name">
        </div>
    </div>
</form>
<table class="table table-hover">
    <tr>
        <th ng-click="sortListBy('name')" class="sortable">Name</th>
        <th class="weekNumber" ng-repeat="week in weekList">
            {{week.number}}
        </th>
    </tr>

    <tr class="list" ng-repeat="resource in resourceList | orderBy:sortCriteria | filter:search">
        <td>{{resource.name}}</td>
        <td ng-repeat="week in weekList">
            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">+</button>
        </td>
    </tr>
</table>

<form class="form-inline" role="form" ng-submit="addResource(resource)">
    <div class="form-group">
        <label for="new-name" class="control-label sr-only">Name</label>
        <input type="text" class="form-control" id="new-name" placeholder="Name" ng-model="resource.name" />
    </div>
    <button id="add-resource" type="submit" class="btn btn-default">Add Person</button>
</form>

<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add task</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="task-title" class="col-lg-3 control-label">Task Title</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="task-title" ng-model="task.title">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addTask(task)">Save changes</button>
            </div>
        </div>
    </div>
</div>