@import "compass/css3/images";

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

body {
    background: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    padding-bottom: 3em;
}

a:focus {
    outline: none;
}

h2 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 3em;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 25px;
}

.sortable {
    cursor: pointer;
}

.btn, td, th {
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.current {
    background-color: #ffffdd;
}

.table-hover > tbody > tr:hover > td.current,
.table-hover > tbody > tr:hover > th.current {
    background-color: #ffffcc;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.colorpicker {
    z-index: 1050;
}

.task-table {
    margin-top: 1em;
}

.overview {
    .task-add-button, .task-modify-buttons {
        display: none;
    }

    .task {
        display: none;
    }

    .occupied {
        background-color: #8be1ff;
    }
}

.overview.table-hover > tbody > tr:hover > td.occupied {
    background-color: #8be1ff;
}

.task {
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.40);
}

[droppable] {
    min-height: 50px;
}

[draggable] {
    cursor: move;
}
