[submodule "nodejs"]
      path = vagrant/modules/nodejs
      url = https://github.com/globin/puppet-nodejs
[submodule "repository"]
      path = vagrant/modules/repository
      url = https://github.com/boxen/puppet-repository
[submodule "vagrant/modules/phpmyadmin"]
	path = vagrant/modules/phpmyadmin
	url = https://github.com/frastel/puppet-phpmyadmin
[submodule "vagrant/modules/stdlib"]
	path = vagrant/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "vagrant/modules/php"]
	path = vagrant/modules/php
	url = https://github.com/jippi/puppet-php
[submodule "vagrant/modules/nginx"]
	path = vagrant/modules/nginx
	url = https://github.com/jfryman/puppet-nginx
[submodule "vagrant/modules/mysql"]
	path = vagrant/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "vagrant/modules/apt"]
	path = vagrant/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "vagrant/modules/phantomjs"]
	path = vagrant/modules/phantomjs
	url = https://github.com/brhelwig/puppet-phantomjs
