/api/web/bundles/
/api/app/bootstrap.php.cache
/api/app/cache/*
/api/app/logs/*
/build/
/api/vendor/
/api/bin/
/api/src/*/*/Entity/*~
/api/app/Resources/public/js/lib
/api/doc
/api/cache.properties
/api/web/css
/api/web/js
node_modules
.tmp
.sass-cache
.idea/workspace.xml
.idea/tasks.xml
.vagrant
app/bower_components
dist
app/styles/main.css
cache.properties
composer.phar
doc
