/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/src/*/*/Entity/*~
/app/Resources/public/js/lib
/doc
/cache.properties
/web/css
/web/js
node_modules
src/Mayflower/TPPFrontendBundle/Resources/public/dist
.tmp
.sass-cache
src/Mayflower/TPPFrontendBundle/Resources/public/app/bower_components
src/Mayflower/TPPFrontendBundle/Resources/public/app/styles/*.css
.idea/workspace.xml
.idea/tasks.xml
