[submodule "nodejs"]
      path = vagrant/modules/nodejs
      url = https://github.com/globin/puppet-nodejs

[submodule "repository"]
      path = vagrant/modules/repository
      url = https://github.com/boxen/puppet-repository


