@import "compass/css3/images";

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

body {
    background: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    padding-bottom: 3em;
}

h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.sortable {
    cursor: pointer;
}

.btn, td, th {
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.current {
    background-color: #ffffdd;
}

.table-hover > tbody > tr:hover > td.current,
.table-hover > tbody > tr:hover > th.current {
    background-color: #ffffcc;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.task-table {
    margin-top: 1em;
}

.task {
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.40);
}
.task.yellow {
    @include background(linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%));
}
.task.red {
    border: 1px solid #BBB;
    @include background(linear-gradient(-45deg, rgba(255, 165, 165, 1) 77%, rgba(255, 214, 214, 1) 100%));
}
.task.blue {
    border: 1px solid #CCC;
    @include background(linear-gradient(-45deg, rgba(190, 190, 255, 1) 77%, rgba(230, 230, 255, 1) 100%));
}
.task.green {
    @include background(linear-gradient(-45deg, rgba(136, 255, 136, 1) 77%, rgba(214, 255, 214, 1) 100%));
}
.task.purple {
    border: 1px solid #CCC;
    @include background(linear-gradient(-45deg, rgba(235, 185, 255, 1) 77%, rgba(255, 235, 255, 1) 100%));
}

