<h2>Project schedule</h2>

<div class="form-group">
    <label for="numWeeks" class="control-label">Anzahl Wochen</label>
    <input type="number" class="form-control" id="numWeeks" ng-model="weeks.numWeeks"/>
</div>
<div class="clearfix">
    <button class="btn btn-default pull-left glyphicon glyphicon-arrow-left" ng-click="back()"></button>
    <button class="btn btn-default pull-right glyphicon glyphicon-arrow-right" ng-click="forward()"></button>
</div>

<table class="table table-hover task-table" ng-class="{overview: weeks.numWeeks >= OVERVIEW_THRESHOLD}">
    <tr>
        <th>&nbsp;</th>
        <th ng-click="sortListBy('name')" class="sortable">Name</th>
        <th class="weekNumber" ng-repeat="week in weekList" ng-class="{current: isCurrent(week)}">
            <span ng-if="weeks.numWeeks < OVERVIEW_THRESHOLD">KW {{ week.week() }} (ab {{ week.format('DD.MM') }})</span>
            <span ng-if="weeks.numWeeks >= OVERVIEW_THRESHOLD">{{ week.week() }}</span>
        </th>
    </tr>

    <tr class="list" ng-repeat="resource in resourceList | orderBy:sortCriteria">
        <td><button class="btn btn-default btn-sm glyphicon glyphicon-remove" ng-click="removeResource(resource)"></button></td>
        <td>{{ resource.name }}</td>
        <td ng-repeat="week in weekList" ng-class="{current: isCurrent(week), occupied: getTasks(resource, week).length}" class="tasks">
            <div ng-repeat="task in getTasks(resource, week) | orderBy:'title'" class="task" ng-style="{'background-color': task.project.color }">
                <div class="task-title">{{ task.project.name }}</div>
                <div class="task-modify-buttons">
                    <button class="btn btn-default glyphicon glyphicon-pencil btn-sm"
                            ng-click="editTask(task)"></button>
                    <button class="btn btn-default glyphicon glyphicon-remove btn-sm"
                            ng-click="deleteTask(task)"></button>
                </div>
            </div>
            <button class="btn btn-default btn-xs task-add-button" ng-click="addTask(resource.id, week)">
                +
            </button>
        </td>
    </tr>
</table>

<form class="form-inline" role="form" ng-submit="addResource(resource)">
    <div class="form-group">
        <label for="new-name" class="control-label sr-only">Name</label>
        <input type="text" class="form-control" id="new-name" placeholder="Name" ng-model="resource.name" />
    </div>
    <button id="add-resource" type="submit" class="btn btn-default">Add Person</button>
</form>

<div ng-controller="taskCtrl" class="modal fade" id="task-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-show="!isEdit">Add task</h4>
                    <h4 class="modal-title" ng-show="isEdit">Edit task</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group">
                        <label for="task-title" class="col-lg-3 control-label">Task Title</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="task-title" ng-model="task.title">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="task-project" class="col-lg-3 control-label">Task Title</label>

                        <div class="col-lg-9">
                            <select ng-model="task.project" id="task-project" ng-options="p.name for p in projectList"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="task-submit" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
